@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }

#crawler {
  font-size: 30px;
  background-color: #303952;
  color: #e66767; }

#search {
  height: 100vh;
  width: 100vw;
  background-color: #303952;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  #search form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; }
    @media only screen and (max-width: 900px) {
      #search form {
        width: 80%; } }
  #search #search {
    width: 100%;
    height: 80px;
    border: 5px solid #e66767;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 2rem;
    text-align: center;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #e66767;
    grid-column-end: span 2;
    justify-self: center; }
  #search #date {
    width: 100%;
    height: 40px;
    border: 2px solid #e66767;
    border-radius: 7px;
    font-size: 1rem;
    font-family: Roboto;
    text-align: center;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #e66767; }
    #search #date:nth-child(1) {
      justify-self: end; }

#results {
  width: 100%;
  background-color: #c8d6e5;
  min-height: 100vh; }
  #results #resultsContainer {
    margin: 0 auto;
    width: 90%;
    max-width: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media only screen and (max-width: 900px) {
      #results #resultsContainer {
        grid-template-columns: 1fr; } }
    #results #resultsContainer .result {
      padding: 20px;
      width: 100%;
      height: 100%;
      background-color: #303952;
      border-radius: 10px;
      font-family: Roboto; }
      #results #resultsContainer .result a {
        text-decoration: none;
        color: inherit; }
      #results #resultsContainer .result h3 {
        color: #e66767;
        font-weight: 700; }
        #results #resultsContainer .result h3:active {
          color: black; }
      #results #resultsContainer .result p {
        margin-top: 10px;
        color: #c8d6e5; }

#resultsSearch {
  height: 250px;
  width: 100%;
  background-color: #303952;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  #resultsSearch form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; }
    @media only screen and (max-width: 900px) {
      #resultsSearch form {
        width: 80%; } }
  #resultsSearch #search {
    width: 100%;
    height: 80px;
    border: 5px solid #e66767;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 2rem;
    text-align: center;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #e66767;
    grid-column-end: span 2;
    justify-self: center; }
  #resultsSearch #date {
    width: 100%;
    height: 40px;
    border: 2px solid #e66767;
    border-radius: 7px;
    font-size: 1rem;
    font-family: Roboto;
    text-align: center;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #e66767; }
    #resultsSearch #date:nth-child(1) {
      justify-self: end; }
