<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel='stylesheet' href='/css/main.css' />
        <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div id="search">
            <form action="/results" id="search-form">
                <input required type="text" name="search" id="search" placeholder="Search...">
                <input type="date" name="begining" id="date">
                <input type="date" name="end" id="date">
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/main.js" defer></script>
    </body>
</html>
